= form_with model: repetition, class: 'Form', data: { 'turbo-frame': '_top' } do |f|
  = hidden_field_tag :transaction_id, transaction.id
  .MarginBottomSmall= f.select :timing, options_for_select(timing_options, repetition.timing), {prompt: t('.prompt')}, class: 'Select'
  .Flex
    = link_to t('common.cancel'), user_path(transaction.user.slug), class: 'Link'
    = f.submit t('common.submit'), class: 'Button'
    - if repetition.persisted?
      = link_to t('common.delete'), repetition_path(repetition, transaction_id: transaction.id), data: { turbo_confirm: t('common.confirm'), turbo_method: :delete }, class: 'Link'
