.HeaderComponent
  - if link.blank?
    .HeaderComponent-title= name
  - else
    = link_to name, link, class: 'HeaderComponent-title'
  .Box
    = link_to next_url, class: 'HeaderComponent-balance' do
      .HeaderComponent-balance-label= label
      .HeaderComponent-balance-value= helpers.balance_money_tag(balance)
    .HeaderComponent-shared
      = link_to switch_url do
        .AvatarList.asLarge
          - if shared
            .Avatar 2
            .Avatar 1
          - else
            .Avatar 1
