.HeaderComponent
  .Flex.MarginBottom
    .HeaderComponent-title= name
    = render NavigationComponent.new
  .Box.MainContent
    = link_to next_url, class: 'HeaderComponent-balance' do
      .HeaderComponent-balance-label= label
      .HeaderComponent-balance-value
        = helpers.turbo_frame_tag balance_identifier, src: balance_url
    .HeaderComponent-shared
      = link_to switch_url do
        .AvatarList.asLarge
          - if shared
            - group.users.each do |user|
              .Avatar= user.initials
          - else
            .Avatar= helpers.current_user.initials
