%turbo-frame{ id: dom_id(transaction) }
  .Transaction{ class: ("asFuture" if transaction.future?)}
    = link_to edit_user_transaction_path(user.slug, transaction), class: 'Transaction-date' do
      .MarginBottomSmall= relevant_date.strftime("%b")
      = relevant_date.strftime("%d")
    .Transaction-main
      .Transaction-label= transaction.name
      .Transaction-value= t("categories.#{transaction.category}") if transaction.category.present?
    .Transaction-amount
      .Transaction-label= transaction.incoming? ? t('.in') : t('.out')
      .Transaction-value
        = link_to new_repetition_path(transaction_id: transaction.id), data: { turbo_frame: "repetition_transaction_#{transaction.id}" } do
          = amount
%turbo-frame{ id: "repetition_transaction_#{transaction.id}" }
  - if transaction.repetition.present?
    .TransactionTiming{ class: ("asFuture" if transaction.future?)}
      = t("repetitions.timings.#{transaction.repetition.timing}")
