= render HeaderComponent.new(name: @group.name, balance: @balance)
.Margin
  = render GroupUsersComponent.new(group: @group, only_shared: params[:all].blank?)
  .Headline.MarginBottom
    - if params[:all].blank?
      = link_to t('.shared_transactions'), group_path(@group.slug, all: true), class: 'Link'
    - else
      = link_to t('.all_transactions'), group_path(@group.slug), class: 'Link'
  = render TransactionListComponent.new(transactions: @transactions)
-# .Bottom
-#   = turbo_frame_tag :new_transaction do
-#     = link_to new_user_transaction_path(@user.slug), class: 'Button asFullWidth' do
-#       = t('.new_transaction')
