= render HeaderComponent.new(name: @user.name, balance: @balance, timing: params[:timing], shared: @shared, group: @user.group)
.Margin
  .Headline.MarginBottom
    = @shared ? t('common.shared_transactions') : t('common.all_transactions')
  = render TransactionListComponent.new(source: @user, timing: params[:timing], only_shared: @shared)

.Bottom
  = turbo_frame_tag :new_transaction do
    = render 'new_transaction', user: @user
