= render HeaderComponent.new(name: @user.name, balance: @balance, timing: params[:timing], link: group_path(@user.group.slug), shared: @shared)
.Margin
  .Headline.MarginBottom
    = @shared ? t('common.shared_transactions') : t('common.all_transactions')
  = render TransactionListComponent.new(transactions: @transactions)
.Bottom
  = turbo_frame_tag :new_transaction do
    = render 'new_transaction', user: @user
